unstructured
langchain
langchain_community
openai
streamlit
faiss-cpu
faiss-gpu
pandas
pdf2image
pdfminer.six
pdfplumber
pypdf
pillow
torch
transformers
sentence-transformers
scikit-learn
scipy
tqdm
numpy
requests
rich
tornado
opencv-python
matplotlib
pyyaml

